/*contact*/
.contact {
  background-color: var(--dark-gray);
}

.contact__wrapper {
  padding-block: 4rem;
}

.contact__headline {
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
}

.contact__description {
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}

.contact__control {
  position: relative;
  -webkit-margin-after: 16px;
          margin-block-end: 16px;
}

.contact__control.justify__right {
  display: flex;
  justify-content: flex-end;
}

.contact__control > *::-moz-placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
}

.contact__control > *::placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
}

.contact__control button {
  background-color: transparent;
  border: none;
}

.contact__invalid-icon {
  display: none;
  width: var(--fs-24);
  height: var(--fs-24);
  position: absolute;
  right: 1rem;
  top: 25%;
}

.contact input:focus-visible:invalid ~ .contact__invalid-icon {
  display: inline-block;
}

.contact__control input, .contact__control textarea {
  width: 100%;
  border: none;
  padding-block: 16px;
  -webkit-padding-start: 24px;
          padding-inline-start: 24px;
  border-bottom: 1px solid var(--text2);
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--text1);
  font-family: "Noto Sans", sans-serif;
}

/*999.98px*/
@media (max-width: 62.49875em) {
  .contact__wrapper {
    max-width: 445px;
  }
  .contact__text {
    text-align: center;
  }
}
/*tablet*/
@media (min-width: 37.5em) {
  /*contact*/
}
/*desktop*/
@media (min-width: 62.5em) {
  /*contact*/
  .contact {
    padding: 3.5rem;
  }
  .contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 27.8rem);
    justify-content: space-between;
  }
  .contact__headline {
    -webkit-padding-after: 30px;
            padding-block-end: 30px;
  }
}