/*hero section*/
.hero__wrapper {
  padding-bottom: 80px;
  -webkit-margin-before: -50%;
          margin-block-start: -50%;
}

.hero__image {
  position: relative;
  top: 0;
  left: 50%;
  translate: -50%;
  z-index: -5;
}

.hero__text {
  text-align: center;
  margin-top: 1rem;
  position: relative;
}

.hero__headline {
  margin-bottom: 20px;
}

.hero__headline > br {
  display: none;
}

.hero__description {
  margin-bottom: 24px;
}

/*tablet*/
@media (min-width: 37.5em) {
  .hero__wrapper {
    padding-bottom: 60px;
    -webkit-margin-before: auto;
            margin-block-start: auto;
  }
  .hero__content {
    display: flex;
    overflow-x: visible;
    align-items: flex-end;
    margin-right: -80px;
  }
  .hero__content picture {
    order: 2;
  }
  .hero__headline {
    margin-bottom: 43px;
  }
  /*hero section*/
  .hero__description {
    margin-bottom: 60px;
    width: 70%;
  }
  .hero__image {
    position: relative;
    width: 42vw;
    max-width: 445px;
    height: auto;
    left: auto;
    right: 0;
    translate: 0 -15%;
  }
  .hero__text {
    width: 62vw;
    margin-top: 0;
    text-align: left;
  }
  .hero__headline > br {
    display: inline-block;
  }
}
/*desktop*/
@media (min-width: 62.5em) {
  .hero__content {
    align-items: flex-start;
    margin-top: 0;
    margin-right: -50px;
  }
  .hero__image {
    margin-top: -150px;
  }
  .hero__wrapper {
    position: relative;
    padding-bottom: 100px;
  }
  .hero__text {
    margin-top: 0;
  }
  .hero__description {
    margin-bottom: 78px;
  }
  .hero__headline > br {
    display: none;
  }
}