/*skills*/
.skills {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
  position: relative;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  padding-block: 40px;
  border-bottom: 2px solid var(--text2);
}

.skills__item {
  text-align: center;
}

.skills__title {
  font-size: 2rem;
  font-size: clamp(2rem, 0.958rem + 4.444vw, 2.625rem);
  line-height: 3rem;
  margin-bottom: 1px;
}

.margin__skills {
  margin: 0;
}

.bottom-border {
  border-bottom: 2px solid var(--text2);
}

/*tablet*/
@media (min-width: 37.5em) {
  /*skills*/
  .skills__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 24px;
    padding-block: 52px;
  }
  .skills__item {
    text-align: left;
  }
}
/*desktop*/
@media (min-width: 62.5em) {
  /*skills*/
  .skills__wrapper {
    /*grid-template-columns: repeat(3,1fr);*/
    padding-block: 72px;
  }
}